<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flock - Home Ownership Evolved</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/grayscale.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container navbar-container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Top of Page</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center header-text">
          <h1 class="mx-auto my-0 text-uppercase">Flock</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Home Ownership Evolved</h2>
          <!-- <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a> -->
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Beyond Renting vs. Buying</h2>
            <p class="text-white-50">Common wisdom suggest there are two options to housing: renting or buying.  Flock borrows the best of both options to provide a third option.  Build equity in a diversified manner without giving up the flexibility of renting. </p>
          </div>
        </div>
        <img src="static/img/flock-ipad.png" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="static/img/swarm.jpg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text-right text-center text-lg-left">
              <h4>Diversification</h4>
              <p class="text-black-50 mb-0">Rule #1 in investing: diversification is the key to long-term success.  Why then do most individuals place their all of their eggs in one basket when it comes to their largest investment, their home equity? Flock allows buyers to build home equity in a diversified pool while still living in their home and paying a standard mortgage.</p>
            </div>
          </div>
        </div>

        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text-left text-center text-lg-left">
              <h4>Mobility</h4>
              <p class="text-black-50 mb-0">One of the largest downsides to homeownership is that it locks buyers into one geographical place.  Flock allows its members to move within the system, both intra- and inter-city, without having to go through a burdensome sales process and while continuing to build their equity.</p>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="static/img/flying-goose.jpg" alt="">
          </div>
        </div>

        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="static/img/flying-v.jpg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text-right text-center text-lg-left">
              <h4>Bulk Buying</h4>
              <p class="text-black-50 mb-0">This flock flies together.  By negotiating as a group of potential buyers rather than each homeowner doing so independently, Flock is able to negotiate better prices on everything from insurance to maintenance costs.</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="contact-icon fas fa-map-marked-alt text-primary mb-1"></i>
                <hr class="my-4">
                <div class="small text-white-50">2209 E 16th Ave</div>
                <div class="small text-white-50">Denver CO 80206</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="contact-icon fas fa-envelope text-primary mb-1"></i>
                <hr class="my-4">
                <div class="small text-white-50">about@flock.com</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="contact-icon fas fa-mobile-alt text-primary mb-1"></i>
                <hr class="my-4">
                <div class="small text-white-50">+1 (651) 734-5373</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/cstainbrook/" class="mx-2">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.facebook.com/cooper.stainbrook" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://github.com/cstainbrook" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Flock Inc. 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/grayscale.min.js"></script>

  </body>

</html>
